<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LoIDE</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="css/layout-default-latest.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" as="style" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
    <link rel="stylesheet" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" as="style" href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="splashscreen">
        <div class="splashscreen-container fade-in">
            <div class="mb-4 d-flex justify-content-center align-items-center">
                <img class="splash-logo" src="img/logo_LoIDE.svg" alt="logo" onerror="this.onerror=null; this.src='img/logo_LoIDE.png'">
                <span class="beta">(Beta)</span>
            </div>
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
    <div id="toast-container">
        <div id="notification-project" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="fa fa-exclamation-circle"></i>
                <strong class="mr-auto ml-2">LoIDE - Project found</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                <p>Maybe you were working on a project.<br>Do you wish to continue? </p>
                <button id="load-project" type="button" class="btn btn-primary btn-sm btn-block">Yes</button>
                <button type="button" class="btn btn-secondary btn-sm btn-block" data-dismiss="toast" aria-label="Close">No</button>
            </div>
        </div>
        <div id="notification" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class="fa fa-exclamation-circle"></i>
                <strong class="mr-auto ml-2">LoIDE</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="notidication-body" class="toast-body"></div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-light">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-brand mr-4">
            <img  class="navbar-logo" src="img/logo_LoIDE.svg" alt="logo" onerror="this.onerror=null; this.src='img/logo_LoIDE.png'">
            <span class="beta">(Beta)</span>
        </div>

        <ul class="navbar-nav">
            <li class="nav-item nav-buttons">
                <div class="btn-group btn-block" role="group">
                    <button id="btn-option" class="btn btn-secondary" data-toggle="tooltip" data-html="true" data-placement="top" title="Run options">
                        <i class="fa fa-cogs"></i>
                    </button>
                    <button id="btn-run-nav" class="btn btn-success" data-html="true" title="Run">
                        <i class="fa fa-play"></i>
                        <span class="btn-text">Run!</span>
                    </button>
                </div>
            </li>
        </ul>

        <button id="loide-navbar-toogler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#loide-collapse" aria-controls="loide-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="loide-collapse" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto ml-auto" >
                <li class="nav-item nav-buttons mr-sm-2 mr-md-2">
                    <button class="btn btn-info btn-block" data-toggle="modal" href="#setting-editor" title="Appearance">
                        <i class="fa fa-paint-brush"></i>
                        <span class="btn-text">Appearance</span>
                    </button>
                </li>
                <li class="nav-item nav-buttons ml-sm-2 ml-md-2">
                    <button id="a" type="button" class="btn btn-outline-info btn-block" data-toggle="modal" data-target="#modal-about" title="About"> <i class="fa fa-info" aria-hidden="true"></i> <span class="btn-text"> About </span>  </button>
                </li>
            </ul>

            <ul class="navbar-nav ">
                <li class="nav-item nav-buttons">
                    <div class="btn-group btn-block" role="group">
                        <button type="button" class="btn btn-warning " data-toggle="collapse" data-target="#upload-container" id="btn-upload" rel="tooltip" data-html="true" data-placement="bottom" title="">
                            <i class="fa fa-folder-open" aria-hidden="true"></i>
                            <span class="btn-text">Open</span>
                        </button>
                        <label for="btn-download" role="button" class="btn btn-info popover-download " rel="tooltip" data-placement="bottom" title="">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i>
                            <span class="btn-text">Save</span>
                        </label>
                        <button type="button" class="btn btn-success popover-share" data-toggle="collapse"  id="btn-share" rel="tooltip" data-html="true" data-placement="bottom" title="" data-content="none">
                            <i class="fa fa-link" aria-hidden="true"></i>
                            <span class="btn-text">Share</span>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <div id="upload-container" class="collapse" aria-expanded="false">
        <div id="drop_zone">
            <p class="text-center">Drag and Drop here.
                <br> If the file is .json it will set the configuration, otherwise it will show on text editor. </p>
        </div>
        <div id="list">
        </div>
        <div id="input-select">
            <input class="custom-file-input" type="file" id="files" name="files[]" multiple />
            <label class="custom-file-label" for="files">Choose file</label>
        </div>
    </div>
    <div class="container">
        <form id="input" style="position: relative;">
            <div class="left-panel left-panel-show" style="height: auto">
                <div class="option-solver">
                    <div class="text-center left-panel-title sticky-top pt-2 mb-2">
                        <h5>Run options</h5>
                    </div>

                    <div class="option-container">
                        <label for="inputLanguage" class="col-sm-12 col-xs-12 text-center">Language</label>
                        <select name="language" id="inputLanguage" class="custom-select" title="Language">
                        </select>
                        <label for="inputEngine" class="col-sm-12 col-xs-12 mt-2 text-center">Solver</label>
                        <select name="engine" id="inputengine" class="custom-select" title="Solver">
                        </select>
                        <label for="inputExecutor" class="col-sm-12 col-xs-12 mt-2 text-center">Executor</label>
                        <select name="executor" id="inputExecutor" class="custom-select" title="Executor">
                        </select>
                    </div>
                    
                    <div class="option-container mt-2">
                        <label class="col-sm-12 mb-1 text-center">Options</label>
                        <div id="solver-options">
                        </div>
                        <span class="input-group-btn">
                            <button id="btn-add-option" type="button" class="btn btn-primary btn-block" title="Add option"> <i class="fa fa-plus"></i> Add option</button>
                        </span>
                    </div>
                    
                    <div class="mt-3">
                        <div class="text-center mb-2">
                            <strong> Execution options </strong>
                        </div>
                        <div class="run-auto-box">
                            <div class="custom-control custom-switch text-center">
                                <input type="checkbox" class="custom-control-input" id="run-dot" title="Run automatically">
                                <label class="custom-control-label" for="run-dot">Run automatically</label>
                            </div>
                        </div>

                        <div id="tab-execute" class="option-container">
                            <div class="text-center mb-1">
                                <strong class="tab-execute-title">Choose tab to execute</strong>
                            </div>
                            <div id="tab-execute-new" class="list-group">
                                <button type="button" class="list-group-item list-group-item-action check-run-tab check-auto-run-tab" title="Current tab"> <div class="check-box"><i class="fa fa-check check-icon invisible" aria-hidden="true"></i></div>  <span class="check-tab-name">Current tab</span> </button>
                                <div class="list-divider list-group-item">
                                    <div class="divider"></div>
                                </div>
                                <button type="button" class="list-group-item list-group-item-action check-run-tab" value="editor1"> <div class="check-box"><i class="fa fa-check check-icon invisible" aria-hidden="true"></i></div>  <span class="check-tab-name">L P 1</span> </button>
                            </div>
                        </div>
                        <div class="text-center option-container" id="reset-container">
                            <p class="text-center">
                                <strong> Reset all options </strong>
                            </p>
                            <button id="reset-options" type="button" class="btn btn-outline btn-outline-danger btn-sm" title="Reset">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout center-panel" style="overflow: visible">
                <input type="hidden" name="program[0]" id="program" class="programs" value="" >
                <button id="btn-download" type="submit" class="hidden"></button>
                <button id="run" type="submit" class="hidden"></button>
                <button id="save-options" type="submit" class="hidden"></button>
                <div class="pane ui-layout-center" >
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <div class="d-flex row-tabpanel-toolbar row">
                            <ul class=" col-xs-12 nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a data-target="#tab1" role="tab" data-toggle="tab" class="btn-tab nav-link">
                                        <button type="button" class="btn btn-light btn-sm btn-context-tab"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
                                        <span class="name-tab unselectable">L P 1</span>
                                        <span class="delete-tab">
                                            <i class="fa fa-times"></i>
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item" >
                                    <a role="tab" data-toggle="tab" class="add-tab nav-link btn-light" title="Add new tab"><i class="fa fa-plus"></i></a>
                                </li>
                            </ul>
                            <!-- Toolbar  -->
                            <div class="col-xs-12 ml-auto text-center toolbar">
                                <button id="btn-dwn-this-lp" type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Save content" data-delay='{"show":"700", "hide":"0"}'><i class="fa fa-download" aria-hidden="true"></i></button>
                                <div class="undo-redo btn-group" role="group">
                                    <button id="btn-cut" type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Cut" data-delay='{"show":"700", "hide":"0"}'><i class="fa fa-scissors" aria-hidden="true"></i></button>
                                    <button id="btn-copy" type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Copy" data-delay='{"show":"700", "hide":"0"}'><i class="fa fa-files-o" aria-hidden="true"></i></button>
                                    <button id="btn-paste" type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Paste" data-delay='{"show":"700", "hide":"0"}'><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                                </div>
                                <button id="btn-search" type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Search / Replace" data-delay='{"show":"700", "hide":"0"}'><i class="fa fa-search" aria-hidden="true"></i></button>
                                <div class="undo-redo btn-group" role="group">
                                    <button id="btn-undo" type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Undo" data-delay='{"show":"700", "hide":"0"}'><i class="fa fa-undo" aria-hidden="true"></i></button>
                                    <button id="btn-redo" type="button" class="btn btn-light" data-toggle="tooltip" data-placement="bottom" title="Redo" data-delay='{"show":"700", "hide":"0"}'><i class="fa fa-repeat" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                                <div id="editor1" class="ace"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pane ui-layout-east">
                    <div class="output-container">
                        <div id="setting-output"> Output
                            <div role="group">
                                <button type="button" id="dwn-output" class="btn btn-light btn-sm">
                                    <i class="fa fa-download" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="Save output" data-delay='{"show":"700", "hide":"0"}'></i>
                                </button>
                                <button type="button" id="clear-output" class="btn btn-light btn-sm" data-toggle="tooltip" data-placement="bottom" title="Clear output" data-delay='{"show":"700", "hide":"0"}'>
                                    <i class="fa fa-eraser" aria-hidden="true"></i>
                                </button>
                                <button type="button" id="split" class="btn btn-light btn-sm">
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                        <div id="output" class="output">
                            <div id="output-model" class="pb-2"></div><div id="output-error"></div>
                        </div>
                    </div>
                </div>
                <div class="pane ui-layout-south">
                </div>
                <div class="ui-layout-resizer-east">
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="modal-about" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> <i class="fa fa-info" aria-hidden="true"></i> About LoIDE</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img src="img/logo_LoIDE.svg" class="about-logo" width="150" alt="logo" onerror="this.onerror=null; this.src='img/logo_LoIDE.png'">
                        <p class="mt-2">
                            <em>Version:
                                <span id="version"></span>
                            </em>
                        </p>
                    </div>
                    <p>
                        <em>LoIDE is a web-based IDE for Logic Programming.</em>
                        <br>
                    </p>

                    <p>Checkout the LoIDE project website: <a href="https://demacs-unical.github.io/LoIDE/" rel="noopener" target="_blank"> demacs-unical.github.io/LoIDE/</a></p>
                    <p>LoIDE is an Open Source project available on <a href="https://github.com/DeMaCS-UNICAL/LoIDE" rel="noopener" target="_blank">Github <i class="fa fa-github"></i></a></p>
                    <p>It's released under <a href="https://github.com/DeMaCS-UNICAL/LoIDE/blob/master/LICENSE" rel="noopener" target="_blank">MIT License</a>.</p>

                    <p>If you have any questions or suggestions, please write an e-mail to: <em>loide<span style="display: none;">ABC</span>@mat.unical.it </em></p>

                    <p><strong>Use of all solvers and systems is provided under the respective licenses; we refrain from taking any responsibility for any use that goes out of the scopes of such licenses.</strong></p>

                    <p><strong>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. </strong></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="setting-editor" role="dialog" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> <i class="fa fa-paint-brush"></i> Appearance</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-4 mb-3">
                            <label for="font-editor">Font size Editor</label>
                            <input id="font-editor" class="form-control" type="number" min="15" max="60">
                        </div>
                        <div class="col-md-4 col-xs-4 mb-3">
                            <label for="font-output">Font size Output</label>
                            <input id="font-output" class="form-control" type="number" min="15" max="60">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xs-4 mb-3">
                            <label for="theme">Change theme Editor</label>
                            <div class="input-group opname">
                                <select id="theme" class="custom-select" style="width: 100%;">
                                    <optgroup label="Bright">
                                        <option value="ace/theme/tomorrow">Tomorrow</option>
                                        <option value="ace/theme/solarized_light">Solarized Light</option>
                                        <option value="ace/theme/clouds">Clouds</option>
                                        <option value="ace/theme/github">Github</option>
                                        <option value="ace/theme/xcode">XCode</option>
                                        <option value="ace/theme/katzenmilch">KatzenMilch</option>
                                        <option value="ace/theme/chrome">Chrome</option>
                                        <option value="ace/theme/crimson_editor">Crimson Editor</option>
                                        <option value="ace/theme/dawn">Dawn</option>
                                        <option value="ace/theme/eclipse">Eclipse</option>
                                        <option value="ace/theme/github">Github</option>
                                        <option value="ace/theme/iplastic">Iplastic</option>
                                        <option value="ace/theme/sqlserver">Sqlserver </option>
                                        <option value="ace/theme/textmate">Textmate</option>
                                    </optgroup>
                                    <optgroup label="Dark">
                                        <option value="ace/theme/idle_fingers">Idle Fingers</option>
                                        <option value="ace/theme/kr_theme">KrTheme</option>
                                        <option value="ace/theme/ambiance">Ambiance</option>
                                        <option value="ace/theme/tomorrow_night">Tomorrow night</option>
                                        <option value="ace/theme/tomorrow_night_bright">Tomorrow Night bright</option>
                                        <option value="ace/theme/tomorrow_night_eighties">Tomorrow Night Eighties</option>
                                        <option value="ace/theme/dracula">Dracula</option>
                                        <option value="ace/theme/twilight">Twilight</option>
                                        <option value="ace/theme/gruvbox">Gruvbox</option>
                                        <option value="ace/theme/chaos">Chaos</option>
                                        <option value="ace/theme/solarized_dark">Solarized Dark</option>
                                        <option value="ace/theme/cobalt">Cobalt</option>
                                        <option value="ace/theme/merbivore_soft">Merbivore Soft</option>
                                        <option value="ace/theme/terminal">Terminal</option>
                                        <option value="ace/theme/gob">Gob</option>
                                        <option value="ace/theme/tomorrow_night_blue">Tomorrow Night Blue</option>
                                        <option value="ace/theme/monokai">Monokai</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-4 mb-3">
                            <label for="dark-light-mode">Change LoIDE mode</label>
                            <button id="dark-light-mode" type="button" class="btn btn-outline-dark btn-block">Dark</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="reset-editor" type="button" class="btn btn-outline btn-outline-danger"> <i class="fa fa-eraser"></i> Reset options</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="shortcut" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"> <i class="fa fa-keyboard-o" aria-hidden="true"></i> Keyboard Shortcuts</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="shortcut-container mb-2 d-flex justify-content-between">
                    <div class="shortcut-title">
                        <span> Open Project/Files </span> 
                    </div>
                    <div>
                        <div class="keybox d-inline badge badge-secondary">Ctrl/Command</div>
                        <div class="keybox d-inline badge badge-secondary">O</div>
                    </div>
                </div>
                <hr>
                <div class="shortcut-container mt-2 mb-2 d-flex justify-content-between">
                    <div class="shortcut-title">
                        <span> Save Project </span> 
                    </div>
                    <div>
                        <div class="keybox d-inline badge badge-secondary">Ctrl/Command</div>
                        <div class="keybox d-inline badge badge-secondary">S</div>
                    </div>
                </div>
                <hr>
                <div class="shortcut-container mt-2 mb-2 d-flex justify-content-between">
                    <div class="shortcut-title">
                        <span> Share </span> 
                    </div>
                    <div>
                        <div class="keybox d-inline badge badge-secondary">Ctrl/Command</div>
                        <div class="keybox d-inline badge badge-secondary">Shift</div>
                        <div class="keybox d-inline badge badge-secondary">S</div>
                    </div>
                </div>
                <hr>
                <div class="shortcut-container mt-2 mb-2 d-flex justify-content-between">
                    <div class="shortcut-title">
                        <span> Open/Close Run Options </span> 
                    </div>
                    <div>
                        <div class="keybox d-inline badge badge-secondary">Ctrl/Command</div>
                        <div class="keybox d-inline badge badge-secondary">Shift</div>
                        <div class="keybox d-inline badge badge-secondary">O</div>
                    </div>
                </div>
                <hr>
                <div class="shortcut-container mt-2 mb-2 d-flex justify-content-between">
                    <div class="shortcut-title">
                        <span> Run Project </span> 
                    </div>
                    <div>
                        <div class="keybox d-inline badge badge-secondary">Ctrl/Command</div>
                        <div class="keybox d-inline badge badge-secondary">Enter</div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <!-- Available servises -->
    <div class="hidden" id="servicesContainer">
        //- Sets the languages
        each language in languages
            option(value=language.value) #{language.name}
            //- Sets the solvers
            div(name="solvers" value=language.value)
                each solver in language.solvers
                    option(value=solver.value) #{solver.name}
                    //- Sets the executors
                    div(name="executors" value=solver.value)
                        each executor in solver.executors
                            option(value=executor.value) #{executor.name}
                    //- Sets the options
                    div(name="options" value=solver.value)
                        each option in solver.options
                            option(value=option.value, word_argument=option.word_argument.toString(), title=option.description) #{option.name}
    </div>

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="js/plugin/jquery.layout_and_plugins.min.js" type="text/javascript"></script>
    
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    
    <!-- Ace editor-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" integrity="sha512-GZ1RIgZaSc8rnco/8CXfRdCpDxRCphenIiZ2ztLy3XQfCbQUSCuk8IudvNHxkRA3oUg6q0qejgN/qqyG1duv5Q==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ext-language_tools.min.js" integrity="sha512-8qx1DL/2Wsrrij2TWX5UzvEaYOFVndR7BogdpOyF4ocMfnfkw28qt8ULkXD9Tef0bLvh3TpnSAljDC7uyniEuQ==" crossorigin="anonymous"></script>

    <!-- mark JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.6.1/jquery.mark.min.js"></script>

    <!-- socket.io -->
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>

    <!-- Mousetrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mousetrap/1.6.5/mousetrap.min.js" integrity="sha512-+Jg3Ynmj9hse704K48H6rBBI3jdNBjReRGBCxUWFfOz3yVurnJFWtAWssDAsGtzWYw89xFWPxShuj2T6E9EOpg==" crossorigin="anonymous"></script>
    
    <!-- context menu -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.contextMenu.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-contextmenu/2.7.1/jquery.ui.position.min.js"></script>
    
    <!-- Clipboard JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>

    <script src="js/script.js" type="text/javascript"></script>
</body>
</html>
